# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/mcq_master?schema=public"

# Auth
NEXTAUTH_SECRET="your-super-secret-key-here-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# OAuth Providers (optional)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# File Upload (optional - for AI Studio imports)
UPLOAD_SECRET=""
UPLOAD_BUCKET=""
UPLOAD_REGION=""
UPLOAD_ENDPOINT=""
UPLOAD_ACCESS_KEY=""
UPLOAD_SECRET_KEY=""